#add-predefined-part-popup.popup
  #busy.busy{:style => "display: none"}= image 'spinner.gif'
  %h3 Add Part
  - remote_form_for([:admin, PagePart.new], :update => "pages", :html => {:id => 'predefined-part-popup-form'}, :position => :bottom, :loading => 'part_loading()', :complete => 'part_added()', :condition => 'valid_part_name()') do |f|
    %div
      #parts_field
        = f.text_field :name, :id => 'part-name-field' #, :maxlength => 100
      #parts_results
      = submit_tag "Add Part", :id => 'add-part-button'
    %p
      = link_to 'Close', "#", :class => 'close'

:javascript
  document.observe('dom:loaded', function() {
    $('add-part-popup').remove();
    $('add-predefined-part-popup').id = 'add-part-popup';

    new ComboBox('parts_field', 'parts_results', PredefinedParts)
    $('add-part-popup').hide();
  })